body {
    font-family: 'Arial', sans-serif;
    padding: 2em;
    transition: background-color 0.3s, color 0.3s;
}

header, section {
    padding: 1em;
    border: 1px solid #e0e0e0;
    margin: 1em 0;
}

/* Light Mode Styles */
body.light-mode {
    background-color: #ffffff;
    color: #333;
}

body.light-mode header, 
body.light-mode section {
    background-color: #f8f8f8;
    border-color: #e0e0e0;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header, 
body.dark-mode section {
    background-color: #1f1f1f;
    border-color: #3d3d3d;
}

button.toggle-mode {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

